mat-card {
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    max-height: 600px;
    min-height: 100px;
    min-width: 330px
}

mat-card-title {
    display: flex;
    justify-content: space-between;
    img {
        height: 30px;
        width: 30px;
    }
}

mat-card-content {
    display: flex;
    justify-content: center;
}

mat-card-actions {
    display: flex;
    justify-content: space-around;
    .searches, .views, .sales {
        display: flex;
        flex-direction: column;
        gap: 1px;
        p {
            color: #bfbfbf;
        }
    }
}