<mat-card class="example-card">
    <mat-card-title>
        <img src="/assets/bmw_logo.png">
        <p>Petrol</p>
    </mat-card-title>
    <mat-card-content>
      <img mat-card-md-image src="/assets/bmw.png" >
    </mat-card-content>
    <mat-card-actions>
      <div class="searches">
        <p>Searched</p>
        <p><b>7.5k</b></p>
        
    </div>
    <div class="views">
        <p>Visited</p>
        <p><b>17.2k</b></p>
        
    </div>
    <div class="sales">
        <p>Sold</p>
        <p><b>1k</b></p>
        
    </div>
    </mat-card-actions>
</mat-card>