* {
    background: transparent;
}

mat-toolbar {
    display: flex;
    gap: 200px;
}

.title {
    margin-right: 30px;
    color: black;
}

.tabs {
    display: flex;
    gap: 30px;
    color: #bfbfbf;

    a {
        cursor: pointer;
    }
}

.icons-div {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    i {
        color: black;
    }
    button {
        background: orangered;
        color: white;
        font-size: small;
        border-radius: 10px 10px 10px 10px;
        border: transparent;
        span {
            padding: 40px 20px 40px 20px !important;
        }
    }
  }