<div class="content">
    <div class="listing">
        <app-listing-card *ngFor="let card of cards" ></app-listing-card>
    </div>
    <mat-card class="details_card">
        <div class="logo">
            <img src="/assets/bmw_logo.png" >
        </div>
        <div class="details">
            <h1>BMW 3 Series Gran Limousine</h1>
            <img src="/assets/bmw.png" >
        </div>
        <div class="attributes">
            <div class="market_status">
                <p>Market status</p>
                <input type="text">
            </div>
            <div class="mileage">
                <p>1,13,000 KM</p>
                <p>Ottowa</p>
            </div>
            <div class="transmission">
                <p>Auto</p>
                <p>Petrol</p>
            </div>
            <div class="searches">
                <p><b>7.5k</b></p>
                <p>Searched</p>
            </div>
            <div class="views">
                <p><b>17.2k</b></p>
                <p>Visited</p>
            </div>
            <div class="sales">
                <p><b>1k</b></p>
                <p>Sold</p>
            </div>
        </div>
    </mat-card>
</div>

